<ion-content>
  <br>
  <div class="screen-padding">
    <ion-card class="input-block input-block-padding input-block-highlight title shadow-none">
      <p class="heading"><span class="bold">Vault Markets</span> offer you world-class <span
          class="bold text-secondary">
          service and support.</span>
      </p>
      <p class="content">Select a platform below for assistance:</p>
    </ion-card>

    <ion-card class="input-block input-block-padding input-block-highlight shadow-none">
      <div class="details-block">
        <ion-text class="body-text-color grey-text">
          <ion-grid>
            <ion-row>
              <ion-col class="contact-button-container">
                <ion-label>
                  Support:<br>
                  <span class="text-highlight">help@vaultmarkets.trade</span>
                </ion-label>
                <ion-button class="contact-button watch-button" href="mailto:help@vaultmarkets.trade">
                  <ion-icon name="mail-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-text>
      </div>
    </ion-card>

    <ion-card class="input-block input-block-padding input-block-highlight shadow-none">
      <div class="details-block">
        <h6 class="flag-title">
          <svg class="flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23"
            height="15" viewBox="0 0 9 6">
            <clipPath id="Z">
              <path d="M0,0 4.5,3 0,6" id="X" />
            </clipPath>
            <clipPath id="A">
              <path d="M0,0H9V6H0z" />
            </clipPath>
            <g clip-path="url(#A)">
              <path d="M0,0V6H9V0z" fill="#002395" />
              <path d="M0,0V3H9V0z" fill="#de3831" />
              <g stroke-width="2" stroke="#fff">
                <path d="M0,0 4.5,3 0,6M4.5,3H9" id="W" />
                <use xlink:href="#X" stroke="#ffb612" clip-path="url(#Z)" />
              </g>
              <use xlink:href="#W" fill="none" stroke="#007a4d" stroke-width="1.2" />
            </g>
          </svg>
          <span>
            South Africa
          </span>
        </h6>
        <ion-text class="body-text-color grey-text">
          <ion-grid>
            <ion-row>
              <ion-col class="contact-button-container">
                <ion-label>
                  Whatsapp:<br>
                  <span class="text-highlight">+27 74 024 6890</span>
                </ion-label>
                <ion-button class="contact-button watch-button"
                  href="https://wa.me/27740246890?text=I%20need%20support%20please.">
                  <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="contact-button-container">
                <ion-label>
                  Contact:<br>
                  <span class="text-highlight">+27 10 449 6045</span>
                </ion-label>
                <ion-button class="contact-button watch-button" href="tel:+27 10 449 6045">
                  <ion-icon name="call"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-text>
      </div>
    </ion-card>

    <ion-card class="input-block input-block-padding input-block-highlight shadow-none">
      <div class="details-block">
        <h6 class="flag-title">
          <svg class="flag" version="1.0" xmlns="http://www.w3.org/2000/svg" width="23" height="15"
            viewBox="0,0 144,96">
            <path d="M 0,0 h 144 L 0,96" fill="#1eb53a" />
            <path d="M 0,96 h 144 L 144,0" fill="#00a3dd" />
            <line y1="96" x2="144" stroke="#fcd116" stroke-width="38" />
            <line y1="96" x2="144" stroke="#000" stroke-width="26" />
          </svg>
          <span>
            Tanzania
          </span>
        </h6>
        <ion-text class="body-text-color grey-text">
          <ion-grid>
            <ion-row>
              <ion-col class="contact-button-container">
                9th Floor, Skycity Mall<br>
                University Road<br>
                Dar es Salaam, Dar es Salam<br>
                Tanzania
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="contact-button-container">
                <ion-label>
                  Contact:<br>
                  <span class="text-highlight">+255 742 297 685</span>
                </ion-label>
                <ion-button class="contact-button watch-button" href="tel:+255 742 297 685">
                  <ion-icon name="call"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-text>
      </div>
    </ion-card>

    <ion-card class="input-block input-block-padding input-block-highlight shadow-none">
      <div class="details-block">
        <h6 class="flag-title">
          <svg class="flag" xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 90 60">
            <path d="M90,0H0V60z" fill="#003580" />
            <path d="M0,60H90V0z" fill="#009543" />
            <path d="M0,60 90,0" stroke="#fff" stroke-width="20" />
            <path d="M0,60 90,0" stroke="#d21034" stroke-width="15" />
            <path
              d="M18,6.5 19.552914,10.704445 23,7.839746 22.242641,12.257359 26.660254,11.5 23.795555,14.947086 28,16.5 23.795555,18.052914 26.660254,21.5 22.242641,20.742641 23,25.160254 19.552914,22.295555 18,26.5 16.447086,22.295555 13,25.160254 13.757359,20.742641 9.339746,21.5 12.204445,18.052914 8,16.5 12.204445,14.947086 9.339746,11.5 13.757359,12.257359 13,7.839746 16.447086,10.704445z"
              fill="#ffce00" />
            <circle cx="18" cy="16.5" r="5.5" fill="#ffce00" stroke="#003580" />
          </svg>
          <span>
            Namibia
          </span>
        </h6>
        <ion-text class="body-text-color grey-text">
          <ion-grid>
            <ion-row>
              <ion-col class="contact-button-container">
                Unit 3b<br>
                South Port<br>
                Hosea Kutako Drive<br>
                Windhoek<br>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="contact-button-container">
                <ion-label>
                  Contact:<br>
                  <span class="text-highlight">+26 481 368 2400</span>
                </ion-label>
                <ion-button class="contact-button watch-button" href="tel:+26 481 368 2400">
                  <ion-icon name="call"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-text>
      </div>
    </ion-card>
  </div>

  <br>

</ion-content>