@import '../../../theme/variables.scss';

.register-container {
  height: 100%;
  display: grid;
  align-content: center;
  background: var(--input-background);
}

#register-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.input-block {
  flex: 1;
}

ion-scroll {
  height: 80%;
}

.scrollable-content {
  overflow-y: auto;
  height: calc(100% - 40px); /* Subtract padding to fit within the available height */
}

.register-logo {
  width: 50%;
  margin: auto;
  height: 110px;
}

#register-block {
  padding-left: 25px;
  padding-right: 25px;
}

.toggle-button {
  --background-checked: #3a2804;
  --handle-background: var(--body-text);
  --handle-background-checked: var(--ion-color-secondary);
}

#term-agreement {
  padding-bottom: 10px;
  padding-top: 15px;
}

#term-agreement ul {
  padding-inline-start: 20px;
}

#term-agreement-links {
  --background: none;
  a, li {
    color: var(--ion-color-secondary);
    line-height: 25px;
    text-decoration: none;
  }
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--ion-color-secondary);
}

#phone-number-input {
  display: flex;
  justify-content: space-between;
  ion-item:nth-child(1) {
    width: 30%;
  }
  ion-item:nth-child(2) {
    width: 68%;
  }
}

.smaller-text {
  color: var(--heading-text)
}

.highlight-text {
  color: var(--highlight);
}

.login-links {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--ion-color-secondary);
  font-size: var(--small-font);
}

.input-style {
  margin-bottom: 0;
}

.label-radio {
  color: var(--highlight-text);
  font-size: 12px;

}

ion-radio {
  margin-right: 10px;

}
