<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label>What is out minimum deposit?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      We do not have a minimum deposit amount, as the minimum equity required to open positions would depend on the
      margin requirements for the specific pair/stock/index you wish to trade.
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
      <ion-label>What is our minimum withdrawal amount?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      We do not have a minimum withdrawal amount, nor do we have a maximum withdrawal amount!
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
      <ion-label>How long do I have to wait for my withdrawal?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ul>
        <li>Please kindly take business hours into consideration when requesting your withdrawal. During public holidays
          and over weekends there may be operational delays.</li>
        <li>Please NOTE that most payments (withdrawals) are processed by banks during business hours. Therefore, even
          once Vault Markets has processed the payment instantaneously, the banking turnaround time would still need to
          be taken into consideration. (Dependent on banks). </li>
      </ul>
    </div>
  </ion-accordion>
  <ion-accordion value="fourth">
    <ion-item slot="header">
      <ion-label>How do I deposit funds?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Please login to your portal or mobile app for a full list of deposit options such as EFT, Card, MPESA, Bitcoin,
      Perfect Money to mention just a few. We offer the widest range of deposit options specifically focused on Africa.
    </div>
  </ion-accordion>
  <ion-accordion value="fifth">
    <ion-item slot="header">
      <ion-label>How long do withdrawals take?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Our withdrawals are approved almost immediately and payouts happen within hours. We pride ourselves in being one
      of the brokers whom pay out clients their profits in the shortest time.
    </div>
  </ion-accordion>
  <ion-accordion value="sixth">
    <ion-item slot="header">
      <ion-label>What is the turnaround time for my deposit to be allocated and reflect in my account?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Deposits are allocated almost instantaneously through our portal and mobile app so you can deposit and trade
      immediately.
    </div>
  </ion-accordion>
  <ion-accordion value="seventh">
    <ion-item slot="header">
      <ion-label>Can I fund my account using bitcoin?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Yes, Vault Markets accept a selection of Digital currencies as a funding method.
    </div>
  </ion-accordion>
  <ion-accordion value="eigth">
    <ion-item slot="header">
      <ion-label>Do we allow third party deposits?</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      No, Vault Markets doesn't accept third party deposits.
    </div>
  </ion-accordion>
  <ion-accordion value="ninth">
    <ion-item slot="header">
      <ion-label>Explainer Video "How to withdraw"</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
    </div>
  </ion-accordion>
  <ion-accordion value="tenth">
    <ion-item slot="header">
      <ion-label>Explainer Video "How to Withdraw to an Mpesa Account</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
    </div>
  </ion-accordion>
</ion-accordion-group>