<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label class="acc-heading">How do I verify my account?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      We offer a state of the art verification process that will enable you to automatically verify your account without
      ever having to contact our support team. In the rare instances where you may need assistance, our friendly staff
      will verify your account once you send us a valid proof of identity, proof of banking details as well as proof of
      address. Please be sure to send us confirmation of your banking details to process your withdrawals.
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
      <ion-label>Which countries do you operate in?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Vault Markets has over 30 years combined experience from industry experts and focuses globally with a specific
      focus on African clients. This is clear in the numerous offices and deposit and withdrawal options that we offer
      to our clients. No matter where in Africa you are we have a solution for you.
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
      <ion-label>What are the accounts we offer?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Vault Markets aim to provide a variety of account types, enabling our clients to trade under their preferred
      trading conditions. Please note that each account type will have different margin requirements as well as added
      benefits.


      Please follow the ink below to find more information on the different accounts we offer:
      https://vault-markets.com/account-types/
    </div>
  </ion-accordion>
  <ion-accordion value="fourth">
    <ion-item slot="header">
      <ion-label>How to make an internal transfer from your wallet (Base Account) to your Trading Account and vice
        versa?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      <p><span class="font-bold">Option 1</span>: Locate your Internal Account Transfers section at the bottom of your
        dashboard or</p>
      <p><span class="font-bold">Option 2</span>: Refer to your ‘My Wallet’ tab on the left-hand side menu of your
        screen.</p>
      <ul>
        <li>Select from and to your desired fund destination,</li>
        <li>Select the amount to be transferred,</li>
        <li>Enter profile password and SUBMIT your request.</li>
      </ul>
    </div>
  </ion-accordion>
  <ion-accordion value="fifth">
    <ion-item slot="header">
      <ion-label>Do you accept US clients?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Vault Markets does not offer services to US citizens nor US residents for tax purposes, as well as residents of
      certain jurisdictions such as Japan, Canada and North Korea.
    </div>
  </ion-accordion>
  <ion-accordion value="sixth">
    <ion-item slot="header">
      <ion-label>Where can I find my login details?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Login details will be sent to your email address as soon as you have finished the registration section.
    </div>
  </ion-accordion>
  <ion-accordion value="seventh">
    <ion-item slot="header">
      <ion-label>Explainer Video "How to do an internal transfer"</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
    </div>
  </ion-accordion>
  <ion-accordion value="eighth">
    <ion-item slot="header">
      <ion-label>Explainer Video "How to create an Mpesa Account"</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
    </div>
  </ion-accordion>
</ion-accordion-group>