<ion-content id="select-list" class="select-dropdown input-block-highlight input-block input-block-highlight">
  <div id="header-container">
    <ion-list-header id="header" lines="full">
      <ion-label>{{header}}</ion-label>
    </ion-list-header>
    <ion-item id="search-bar" lines="full">
      <ion-searchbar (ionChange)="onSearch($event)" debounce="500">
      </ion-searchbar>
    </ion-item>
  </div>
  <ion-list>
    <ion-radio-group (ionChange)="inputChange($event)" [value]="initValue">
      <ion-item *ngFor="let item of data">
        <ion-label>{{item}}</ion-label>
        <ion-radio slot="start" [value]="item"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-item *ngIf="!data.length" lines="none">
      <ion-text>No options available</ion-text>
    </ion-item>
  </ion-list>
</ion-content>