<ion-header>
  <ion-toolbar class="modal-header">
    <div class="modal-header-content">
      <div class="col-1">
        <div class="header-logo logo-image"></div>
      </div>
      <div col="col-2">
        <ion-button (click)="dismissModal()">
          <ion-icon size="large" name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="heading center-text">
    <ion-text class="body-text-color" size="large">
      <h4>Reset your Password</h4>
    </ion-text>
  </div>
  <br>

  <div id="reset-block">
    <ion-text class="text-block">
      <p>Please enter your email in order to recover your password.
      </p>
    </ion-text>

    <form [formGroup]="form">
      <ion-item lines="full">
        <ion-label color="input-label" position="floating">
          Email
        </ion-label>
        <ion-input type="email" formControlName="emailAddress" [pattern]="emailRegex">
        </ion-input>
      </ion-item>
      <br>
      <div class="button-container">
        <ion-button color="secondary" (click)="onSubmit()" expand="block">Send Reset Link
        </ion-button>
      </div>
    </form>
    <br>

  </div>

</ion-content>