<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label>I just tried to login and it says invalid login / password / no connection.</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Once you have selected ‘Forgot Password’ please check your spam folders. Depending on your email settings, it may
      not appear in your primary inbox.
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
      <ion-label>I forgot my password for the client protal.</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      <p>To reset your password go to www.vault-markets.com</p>
      <ol>
        <li>Select 'Login'</li>
        <li>Select 'Forgot Password'</li>
        <li>Enter your email address and select 'Reset'</li>
      </ol>
      <p>You will receive email instructions to reset your password.</p>
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
      <ion-label>I forgot my password for my trading platform.</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Log into your dashboard.
      <img src="" alt="">
      Refer to the trading account section (Account Settings) and then click on the “lock" icon, enter your profile
      password and an email will be sent to you with the trading account login/password. Please check your spam folders
      as well.
    </div>
  </ion-accordion>
  <ion-accordion value="fourth">
    <ion-item slot="header">
      <ion-label>Do we trade on behalf of clients?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      We do not trade on behalf of clients, nor do we offer any trading signals.
    </div>
  </ion-accordion>
  <ion-accordion value="fifth">
    <ion-item slot="header">
      <ion-label>Dowe pay taxes?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Vault Markets is not a financial or tax advisor. We do not withhold taxes. We recommend you to discuss this with
      your private tax consultant.
    </div>
  </ion-accordion>
</ion-accordion-group>