<ion-fab-button size="small" color="secondary" href="https://wa.me/27740246890?text=I%20need%20support%20please.">
  <ion-icon name="logo-whatsapp"></ion-icon>
</ion-fab-button>
<!-- <ion-fab-list side="start">
  <ion-fab-button
    color="secondary"
    (click)="navigate('withdraw')">
    <ion-icon name="download"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    color="secondary"
    (click)="navigate('transfer')">
    <ion-icon name="cash"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    color="secondary"
    (click)="navigate('deposit')">
    <ion-icon name="add-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    color="secondary"
    href="https://wa.me/27740246890?text=I%20need%20support%20please.">
    <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
</ion-fab-list> -->