<ion-header>
  <ion-toolbar class="modal-header">
    <div class="modal-header-content">
      <div class="col-1">
        <div class="header-logo logo-image"></div>
      </div>
      <div col="col-2">
        <ion-button class="close-button" (click)="dismissModal()">
          <ion-icon size="small" name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content class="screen-padding">
  <br>
  <ion-card class="input-block input-block-padding input-block-highlight shadow-none">
    <div class="heading center-text">
      <ion-text class="heading-text" size="large">
        <h4>Confirm your Password</h4>
      </ion-text>
    </div>
    <br>

    <div id="reset-block">
      <ion-text class="text-block ">
        <p class="subheading">Please enter your dashboard password to confirm this action.
        </p>
      </ion-text>

      <ion-item fill="outline">
        <ion-label color="input-label" position="floating">
          Password
        </ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password">
        </ion-input>
      </ion-item>
      <br>
      <div class="button-container">
        <ion-button class="watch-button" (click)="onSubmitt()" expand="block">Confirm
        </ion-button>
      </div>
      <br>

    </div>
  </ion-card>

</ion-content>