@import '../../../../theme/variables.scss';

.modal-header {
  --background: var(--toolbar);
}

.modal-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.header-logo {
  width: 54px;
  height: 30px;
}

.button-inner {
  color: white;
}

.close-button {
  --background: var(--ion-color-secondary);
  color: white;
}

.col-1,
.col-2 {
  padding-left: 15px;
  padding-right: 15px;
}

#reset-block {
  padding-left: 15px;
  padding-right: 15px;
}

.text-block {
  // color: var(--body-text);
  display: block;
  padding: 15px 15px;
  text-align: center;
}
