<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label>How do I become an Introducing Broker?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      You can sign up directly on our website under our partners tab.
      <br>
      We are one of the highest commissions payers in the industry and you can withdraw your rebates at any time. We
      also have a dedicated team of IB Professionals that help you with your business from building a website, hosting
      seminars, Online Marketing, Designing Banners to mention a few. These individuals are focused to take all these
      tasks away from you to ensure you can focus on sales.
      <br>
      Our goal for all our partners is to help them grow so that one day they too can open their own brokerage, if that
      is their aim. Our sister company, JP Technology, can assist with all the requirements to start your own brokerage.
      <br>
      We can also tailor make a structure to suit your individual requirements. Your success is our success!
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
      <ion-label>What is "Refer and Earn"?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      This is our loyalty and referral program which gives every trader the opportunity to earn commissions on other
      traders when they trade. We all know a trader so why not get paid automatically and send them to trade with us and
      you will earn up to 10% of their deposits throughout their trading career. We are the first broker to offer a
      referral program of this sort.
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
      <ion-label>Explainer Video "How to join refer and earn program"</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
    </div>
  </ion-accordion>
</ion-accordion-group>