<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header">
      <ion-label>When can you trade?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      The markets generally closes on Fridays at 23:00(GMT+2) and open on Sunday 23:00(GMT+2) however this may vary
      depending on market conditions as well as any international public holidays affecting the market times.
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
      <ion-label>What is margin call?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      A margin call is when your margin level falls below the margin threshold for the specific position/positions you
      have running. Should your margin level fall below this threshold, one or more of your open positions will usually
      be closed in order to maintain the necessary margin requirements.
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
      <ion-label>Will my margin requirements change?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Liquidity Providers may adjust margin requirements depending on the current market conditions.
    </div>
  </ion-accordion>
  <ion-accordion value="fourth">
    <ion-item slot="header">
      <ion-label>What is leverage?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Leverage increases the trader’s buying and selling power by providing traders with “borrowed” capital.
      <br>
      Leverage is the capital provided by the broker to increase the trader’s possible return on investment . It is
      important to remember that leverage can significantly increase your return on investment, however, it also
      increases your risk.
    </div>
  </ion-accordion>
  <ion-accordion value="fifth">
    <ion-item slot="header">
      <ion-label>What is spread?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Spread is the difference between the “buy” and “sell” price. This may vary dependent on the market conditions.
    </div>
  </ion-accordion>
  <ion-accordion value="sixth">
    <ion-item slot="header">
      <ion-label>What is a swap?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Swaps generally refer to the interest you are charged for keeping your trade open overnight. It is important to
      note that you may earn positive swaps under certain market conditions.
    </div>
  </ion-accordion>
  <ion-accordion value="seventh">
    <ion-item slot="header">
      <ion-label>What is a negative balance protection?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Our negative balance protection allows clients to trade without having the risk of owing the broker funds if their
      positions close in a negative greater than the amount of equity they had available.
    </div>
  </ion-accordion>
  <ion-accordion value="eighth">
    <ion-item slot="header">
      <ion-label>What password should I use to execute trades on MT4</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      You would need to use your real password sent to you via email when creating your MT4 account.
    </div>
  </ion-accordion>
  <ion-accordion value="ninth">
    <ion-item slot="header">
      <ion-label>How do I remove trading accounts?</ion-label>
    </ion-item>
    <div class="ion-padding acc-content" slot="content">
      Trading accounts cannot be removed as they will become archived after 3 months of inactivity.
    </div>
  </ion-accordion>
</ion-accordion-group>